<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PATIENT</title>
</head>
<body>
<h2 th:text="${'Good day to you, ' + user.firstName + ' ' + user.lastName}"></h2>
<br>

<h4 th:text="${'Doctor ' + doctor.firstName + ' ' + doctor.lastName + ' has sent you a task:'}"></h4>
    <br>
    <span th:object="${form}">
    <h3 th:text="${form.taskName}"></h3><br>
    <b th:text="${'You need to do this ' + form.weekly + ' times per week' }"></b><br>
    <b th:text="${'And ' + form.daily + ' times per day' }"></b><br>
    <b th:text="${form.sets + ' - sets' }"></b><br>
    <b th:text="${form.reps + ' - reps' }"></b><br>
    <b th:text="'Please, send me a message when you finish'"></b><br>
        </span>
<form th:method="POST" th:action="@{/patient/feedback/{id}(id=${form.id})}">
    <input type="submit" value="I completed this task">
</form>


</body>
</html>