<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#87cefa">
<h2 th:text="${user.firstName + ' ' + user.lastName + ', please enter your results bellow:'}"></h2>
<br>
<br>
<h3 th:text="${form.taskName}"></h3><br>
<p>How was your experience today?</p>
<form th:object="${feedback}" th:method="POST" th:action="@{send}">

<!--    <label for="weekly"></label>-->
<!--    <input id="weekly" th:field="*{weekly}" type="text" th:placeholder="${'Needed count per week: ' + form.weekly}"><br>-->

    <label for="daily"></label>
    <input id="daily" th:field="*{daily}" type="text" th:placeholder="${'Needed times per day: ' + form.daily}"><br>

    <label for="sets"></label>
    <input id="sets" th:field="*{sets}" type="text" th:placeholder="${'Needed sets per exercise: ' + form.sets}"><br>

    <label for="reps"></label>
    <input id="reps" th:field="*{reps}" type="text" th:placeholder="${'Needed reps per set: ' + form.reps}"><br>

    <label for="comment"></label>
    <input id="comment" th:field="*{comment}" th:placeholder="'Additional commentary'"><br>

    <input th:hidden="true" th:name="id" th:value="${form.id}">
    <input th:hidden="true" th:name="patientId" th:value="${form.patientId}">
    <input th:hidden="true" th:name="taskId" th:value="${form.taskId}">
    <input th:hidden="true" th:name="taskName" th:value="${form.taskName}">

    <input type="submit" value="Send feedback to a doctor">
</form>
</body>
</html>