<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#87cefa">
<div>
    <table id="history" class="table table-bordered" style="width: 50%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name of Prescription</th>
            <th>Grade (0-10)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hs : ${histor}">
            <td th:text="${#temporals.format(hs.date, 'dd.MM.yyyy HH:mm:ss')}"></td>
            <td th:text="${hs.name}"></td>
            <td th:text="${hs.grade}"></td>
            <td><a th:href="@{analyze/{id}(id=${hs.feedBackId})}" th:text="Analyze"></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
