<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR's CABINET</title>
</head>
<body>
<p th:text="'Welcome '+${doctor_name}+'! '"></p>
<img src="https://static9.depositphotos.com/1555678/1146/i/450/depositphotos_11460252-stock-photo-3d-white-doctor.jpg"
     width="160" height="300">
<br/>
<p>How are you? :)</p>
<br/>
<form method="post" th:action="@{patient/}">
    <select th:object="${container}" th:field="*{containerId}">
        <option th:each="patient : ${patients}"
                th:value="${patient.id}"
                th:text="${patient.firstName+' '+patient.lastName}">
        </option>
    </select>
    <input type="submit" value="Submit">
</form>

<br/>

<p>Do you wanna create a task? Look down!</p>

<p><a href="/doctor/cabinet/workshop">Create task</a>.</p>



</body>
</html>