<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR's CABINET</title>
</head>
<body>
<p th:text="'Welcome '+${doctor_name}+'! '"></p>
<img src="https://static9.depositphotos.com/1555678/1146/i/450/depositphotos_11460252-stock-photo-3d-white-doctor.jpg" width="160" height="300">
<br/>
<p>How are you? :)</p>
<br/>

<span th:if="${patients}">
    <a>This is your patients:</a>
    <hr/>
<div th:each="patient : ${patients}">
    <a th:text="${patient.firstName+' '+patient.lastName}"></a>
    <br/>
    <a th:text="${'Live in the'+patient.city+', on the '+patient.address}"></a>
    <br/>
</div>
    <hr/>
</span>

</body>
</html>