<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${patient.firstName + ' ' + patient.lastName}"></h3>
<h4 th:text="${patient.city + ' ' + patient.address}"></h4>

<label for="exercise">Choose exercise:</label>
<form id="exercise" th:method="POST" th:action="@{assign}" th:object="${assignment}">

    <select th:field="*{taskId}">
        <option th:each="exercise : ${exercises}" th:text="${exercise.taskDescription}" th:value="${exercise.id}"></option>
    </select>
    <br>

    <p ></p>

    <label for="weekly">Weekly: </label>
    <input type="text" th:field="*{weekly}" id="weekly">
    <br>

    <label for="daily">Daily: </label>
    <input type="text" th:field="*{daily}" id="daily">
    <br>

    <label for="sets">Sets: </label>
    <input type="text" th:field="*{sets}" id="sets">
    <br>

    <label for="reps">Reps: </label>
    <input type="text" th:field="*{reps}" id="reps">
    <br>

    <label for="duration">Duration: </label>
    <input type="text" th:field="*{duration}" id="duration">
    <br>

    <label for="comment">Description: </label>
    <input type="text" th:field="*{comment}" id="comment">
    <br>

    <input th:hidden="true" th:field="*{patientId}" th:value="${patient.id}">

    <input type="submit" value="create assignment">
</form>


</body>
</html>