<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${patient.firstName + ' ' + patient.lastName}"></h3>
<h4 th:text="${patient.city + ' ' + patient.address}"></h4>

<label for="exercise">Choose exercise:</label>
<form id="exercise">
    <select>
        <option th:each="exercise : ${exercises}" th:text="${exercise.taskDescription}"></option>
    </select>
    <input type="submit" value="push me">
</form>


</body>
</html>